<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jorge Valdez</mat-card-title>
      <mat-card-subtitle>Web UI developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-list>
            <mat-list-item>Edad: 26 años</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Nacionalidad: Mexicana</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Comida favorita: Mexicana</mat-list-item>
            <mat-divider></mat-divider>
            <div class="actions">
                <button (click)="signOut()" mat-raised-button color="warn">Cerrar sesión</button>
            </div>
          </mat-list>
    </mat-card-content>
  </mat-card>
  