<mat-toolbar color="primary" class="app-header">
  <div><a [routerLink]="['/']" routerLinkActive="router-link-active"  class="positronx">Platillos</a></div>
  <span class="nav-tool-items">
    <a *ngIf="!isLoggedInn" mat-button routerLink="login" routerLinkActive="active">Signin</a>
    <a *ngIf="isLoggedInn" mat-button routerLink="/" routerLinkActive="active">Inicio</a>
    <a *ngIf="isLoggedInn" mat-button routerLink="top-ingredients" routerLinkActive="active">Ingredientes Populares</a>
    <a *ngIf="isLoggedInn" mat-button routerLink="meals" routerLinkActive="active">Platillos</a>
    <a *ngIf="isLoggedInn" mat-button routerLink="profile" routerLinkActive="active">Mi perfil</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>